apiVersion: v1
kind: Secret
metadata:
  name: skillhub-secret
  labels:
    app.kubernetes.io/part-of: skillhub
type: Opaque
stringData:
  database-url: postgresql+asyncpg://skillhub:change-me@postgres.example.internal:5432/skillhub
  redis-username: ""
  redis-password: change-me
  redis-sentinel-username: ""
  redis-sentinel-password: ""
  redis-url: ""
  storage-s3-access-key: skillhub
  storage-s3-secret-key: change-me
  bootstrap-admin-password: ChangeMe!2026
  oauth2-keycloak-client-id: ""
  oauth2-keycloak-client-secret: ""
  scanner-ai-defense-api-key: ""
